
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:#9fc9f0;
        }
        header, footer {
            display: flex;
            justify-content:space-evenly;
            align-items: end;
            background-color: #dfdddd;
            color: black;
            text-align: center;
            padding: 1rem;
        }
        nav ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            background: #7ea1c4;
        }
        nav ul li {
            margin: 0 10px;
        }
        nav ul li a {
            color: black;
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        .active::before { 
            content: "📍";  /* just a wayfinding symbol for the user */
          }
        main {
            padding: 20px;
        }
        .discover-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "photo name"
            "photo address"
            "photo description"
            "photo button";
            gap: 20px;
            padding: 20px;
        }
        
        .card {
            background:#6fa4d9;
            padding: 15px;
            box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
            border-radius: 15px;
            text-align: center;
            overflow: hidden;
        }
        .card figure img {
            width: 300px;
            height: 200px;
            border-radius: 5px;
            object-fit: cover;
            }

        .card address {
            font-style: normal;
            color: rgb(17, 16, 16);
            box-shadow: #007BFF;
        }
        .card button {
            background: #007BFF;
            color: rgb(67, 66, 66);
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 10px;
        }
        .card button:hover {
            background: red;
        }
        p {
            margin: 1rem;
        }
        
        .label {
            font-family: Arial, sans-serif;
            font-weight: 700;
        }
        
        #visits {
            color: navy;
            font-weight: bolder;
            font-size: larger;
        }
        
        .today {
            color: tomato;
        }
        .hover:hover {box-shadow: 0 0 50px #333;} 
              