@media only Screen and (min-width:64rem){
    .discover-grid {
        margin: 1rem 8px;
        border: 1px solid #999;
        background-color: #eee;
        border-radius: 8px;
        overflow: hidden;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "photo name"
        "photo description"
        "photo address"
        "photo button"; 
        gap: 20px;
        padding: 20px;
    }

    .card {
        background: rgb(187, 186, 186);
        padding: 15px;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
        border-radius: 10px;
        text-align: center;
    }
    
}