@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  
  --primary-color: #e63946;
  --secondary-color: #4caf50;
  --accent1-color:#f9f5e3;
  --accent2-color:#333333; 
  
  
  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  
  --headline-color-on-white: #30292f;
  
  
  --headline-color-on-color: #333333;
  
  --paragraph-color-on-white: #4caf50;
  
  --paragraph-color-on-color:  #333333;
  
  --paragraph-background-color: #f9f5e3;
  --nav-link-color: #333333;
  --nav-background-color: #f9f5e3;
  --nav-hover-link-color: #e63946;
  --nav-hover-background-color: #ffc107;
}




body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  
}

.wireframeimage {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  
}
img {
  display:block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent2-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}

header>h1,
header>h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
  color: #000;
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  background-color: var(--accent2-color);
  color:#f9f5e3
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav {
  list-style-type: none;
  display: flex;
}

nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(7, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}

.sitemap>div {
  text-align:center center;
}

.sm-home {
  grid-area: home;
  background-color: #e0e2e7;
  line-height: 3em;
}

.sm-getting-started {
  grid-area: page2;
  background-color:#e0e2e7;
  line-height: 3em;
}

.sm-feeding-nutrition {
  grid-area: page3;
  background-color: #e0e2e7;
  line-height: 3em;
}

.sm-health-disease {
  grid-area: page4;
  background-color: #e0e2e7;
  line-height: 3em;
}

.sm-breeding-growth {
  grid-area: page5;
  background-color: #e0e2e7;
  line-height: 3em;
}

.sm-market-profitability {
  grid-area: page6;
  background-color: #e0e2e7;
  line-height: 3em;
}

.sm-contact-us {
  grid-area: page7;
  background-color: #e0e2e7;
  line-height: 3em;
}



footer{
  display: flex;
  justify-content: space-around;
  margin: 1px;
  color:#333333
}